.container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 480px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  margin-top: 16px;
}

@media screen and (min-width: 1440px) {
  .page-container {
    flex-direction: row;
    column-gap: 64px;
    margin-top: 24px;
  }
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.25;
  color: var(--color-main);
}

.visually-hidden {
  visibility: hidden;
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
